<footer class="footer paisa-footer">
  <div class="level">
    <div class="level-item level-right is-0">
      <span class="title is-justify-content-space-between">Fork</span>
    </div>
    <div class="level-item level-center">
      <div class="column">
        <a href="https://github.com/nareshdeeti/paisa.git" target="_blank">
          <img
            class="image is-48x48"
            src="./assets/icons/github-30.png"
            alt="github-logo"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
