<section class="section">
  <form>
    <div>
      <div class="column is-one-third">
        <input
          class="input is-normal is-rounded is-success"
          type="search"
          name="currencyCode"
          id="currencyCode"
          placeholder="Enter currency code eg., INR"
        />
      </div>
    </div>
    <!-- <div class="has-text-centered"> -->
      <button class="button is-success is-outlined is-rounded is-centered" type="submit">
        Search
      </button>
    <!-- </div> -->
  </form>
</section>
